.text-center {
    text-align: center;
    align-items: center;
}

.separator::before {
    content: "";
    display: block;
    height: 10px;
    margin: 20px 0;
}




/*commitment form design goes here*/
.logo-container img {
    width: 40px;
    height: 40px;
}

